In [1]:
# %pip install ace-tools

In [2]:
import pandas as pd
import numpy as np

# DATASET

### 1. Data Teacher

In [3]:
# Read data teacher.csv
teacher = pd.read_csv('./data/Data tự tạo - teacher.csv')
teacher

,Tên,Khoa,Chuyên ngành,Title,Giới tinh,Active
0,Nguyễn Chí Kiên,CNTT,KHDL,Tiến sĩ,M,"002329, 014106, 015410,003711,015412,014113,01..."
1,Huỳnh Trung Hiếu,CNTT,KHDL,PGS.TS,M,"014118,"
2,Lê Trọng Ngọc,CNTT,KHDL,Tiến sĩ,M,0
3,Nguyễn Hữu Tình,CNTT,KHDL,Thạc sĩ,M,"003848,000941,003347"
4,Bùi Thanh Hùng,CNTT,KHDL,Tiến sĩ,M,"003711,014104,001385"
5,Nguyễn Hòa,CNTT,KHDL,PGS.TS,M,0
6,Nguyễn Lê Linh,CNTT,KHDL,Tiến sĩ,M,"015412,"
7,Nguyễn Việt Linh,CNTT,KHDL,PGS.TS,M,0
8,Phạm Thái Hà,CNTT,KHDL,Tiến sĩ,M,0
9,Trần Nhật Hoàng Anh,CNTT,KHDL,Thạc sĩ,F,"000901,"
10,Trần Tấn Thành,CNTT,KHDL,Kĩ sư,M,"014064,014109"
11,Trịnh Thanh Sơn,CNTT,KHDL,Tiến sĩ,M,"014064,014109"
12,Trương Vĩnh Linh,CNTT,KHDL,Thạc sĩ,M,"003501,003451,014105,"
13,Vũ Đức Thịnh,CNTT,KHDL,Tiến sĩ,M,"014118,004116,003711,014122,"
14,Đặng Quang Vinh,CNTT,KHDL,Tiến sĩ,M,0
15,Lê Phúc Lữ,CNTT,KHDL,Thạc sĩ,M,"000901,015411,014064"

In [4]:
teacher.info

<bound method DataFrame.info of                    Tên   Khoa Chuyên ngành    Title Giới tinh  \
0       Nguyễn Chí Kiên  CNTT         KHDL  Tiến sĩ         M
1      Huỳnh Trung Hiếu  CNTT         KHDL   PGS.TS         M
2         Lê Trọng Ngọc  CNTT         KHDL  Tiến sĩ         M
3       Nguyễn Hữu Tình  CNTT         KHDL  Thạc sĩ         M
4        Bùi Thanh Hùng  CNTT         KHDL  Tiến sĩ         M
5            Nguyễn Hòa  CNTT         KHDL   PGS.TS         M
6        Nguyễn Lê Linh  CNTT         KHDL  Tiến sĩ         M
7      Nguyễn Việt Linh  CNTT         KHDL   PGS.TS         M
8          Phạm Thái Hà  CNTT         KHDL  Tiến sĩ         M
9   Trần Nhật Hoàng Anh  CNTT         KHDL  Thạc sĩ         F
10       Trần Tấn Thành  CNTT         KHDL    Kĩ sư         M
11      Trịnh Thanh Sơn  CNTT         KHDL  Tiến sĩ         M
12     Trương Vĩnh Linh  CNTT         KHDL  Thạc sĩ         M
13         Vũ Đức Thịnh  CNTT         KHDL  Tiến sĩ         M
14      Đặng Quang Vinh  CNTT         KHDL  Tiến sĩ         M
15           Lê Phúc Lữ  CNTT         KHDL  Thạc sĩ         M

                                               Active
0   002329, 014106, 015410,003711,015412,014113,01...
1                                             014118,
2                                                   0
3                                003848,000941,003347
4                                003711,014104,001385
5                                                   0
6                                             015412,
7                                                   0
8                                                   0
9                                             000901,
10                                      014064,014109
11                                      014064,014109
12                              003501,003451,014105,
13                       014118,004116,003711,014122,
14                                                  0
15                               000901,015411,014064  >

In [5]:
teacher.describe()

                   Tên   Khoa Chuyên ngành    Title Giới tinh Active
count                16    16           16       16        16     16
unique               16     1            1        4         2     11
top     Nguyễn Chí Kiên  CNTT         KHDL  Tiến sĩ         M      0
freq                  1    16           16        8        15      5

### 2. Data Subject

In [6]:
# Read data subject.csv
subjects = pd.read_csv('./data/Data tự tạo - subjects.csv')
subjects

,STT,Mã môn học,Tên môn học,Mã học phần,"Học phần: học trước (a), tiên quyết (b), song hành (c)",Số tín chỉ,Số tiết lý thuyết,Số tiết thực hành,Chuyên ngành,Unnamed: 9,Unnamed: 10
0,1,2009,Nhập môn Tin học,4203002009,NaN,2,30,0,KHDL,NaN,NaN
1,2,3192,Kỹ năng làm việc nhóm,4203003192,NaN,2,30,0,KHDL,NaN,NaN
2,3,3242,Giáo dục Quốc phòng và An Ninh 1,4203003242,NaN,4,60,0,KHDL,NaN,NaN
3,4,3259,Toán cao cấp 1,4203003259,NaN,2,30,0,KHDL,NaN,NaN
4,5,3307,Giáo dục thể chất 1,4203003307,NaN,2,0,60,KHDL,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
81,82,14120,Phân tích kinh doanh,4203014120,NaN,3,30,30,KHDL,NaN,NaN
82,83,14121,Giải tích ngẫu nhiên cho tài chính,4203014121,NaN,3,30,30,KHDL,NaN,NaN
83,84,3098,Thực tập doanh nghiệp,4203003098,NaN,5,0,150,KHDL,NaN,NaN
84,85,14170,Khóa luận tốt nghiệp,4203014170,NaN,8,0,240,KHDL,NaN,NaN
85,86,15216,Chứng chỉ Tiếng Anh,4203015216,NaN,0,0,0,KHDL,NaN,NaN

In [7]:
subjects.info

<bound method DataFrame.info of     STT  Mã môn học                         Tên môn học  Mã học phần  \
0     1        2009                    Nhập môn Tin học   4203002009
1     2        3192               Kỹ năng làm việc nhóm   4203003192
2     3        3242    Giáo dục Quốc phòng và An Ninh 1   4203003242
3     4        3259                      Toán cao cấp 1   4203003259
4     5        3307                 Giáo dục thể chất 1   4203003307
..  ...         ...                                 ...          ...
81   82       14120                Phân tích kinh doanh   4203014120
82   83       14121  Giải tích ngẫu nhiên cho tài chính   4203014121
83   84        3098               Thực tập doanh nghiệp   4203003098
84   85       14170                Khóa luận tốt nghiệp   4203014170
85   86       15216                 Chứng chỉ Tiếng Anh   4203015216

   Học phần: học trước (a), tiên quyết (b), song hành (c)  Số tín chỉ  \
0                                                 NaN               2
1                                                 NaN               2
2                                                 NaN               4
3                                                 NaN               2
4                                                 NaN               2
..                                                ...             ...
81                                                NaN               3
82                                                NaN               3
83                                                NaN               5
84                                                NaN               8
85                                                NaN               0

    Số tiết lý thuyết  Số tiết thực hành Chuyên ngành  Unnamed: 9  Unnamed: 10
0                  30                  0         KHDL         NaN          NaN
1                  30                  0         KHDL         NaN          NaN
2                  60                  0         KHDL         NaN          NaN
3                  30                  0         KHDL         NaN          NaN
4                   0                 60         KHDL         NaN          NaN
..                ...                ...          ...         ...          ...
81                 30                 30         KHDL         NaN          NaN
82                 30                 30         KHDL         NaN          NaN
83                  0                150         KHDL         NaN          NaN
84                  0                240         KHDL         NaN          NaN
85                  0                  0         KHDL         NaN          NaN

[86 rows x 11 columns]>

In [8]:
subjects.describe()

,STT,Mã môn học,Mã học phần,Số tín chỉ,Số tiết lý thuyết,Số tiết thực hành,Unnamed: 9,Unnamed: 10
count,86.000000,86.000000,8.600000e+01,86.000000,86.000000,86.000000,0.0,0.0
mean,43.500000,7824.976744,4.203008e+09,2.918605,33.488372,20.581395,NaN,NaN
std,24.969982,5881.368002,5.881368e+03,0.829105,12.104199,32.947539,NaN,NaN
min,1.000000,664.000000,4.203001e+09,0.000000,0.000000,0.000000,NaN,NaN
25%,22.250000,3195.500000,4.203003e+09,3.000000,30.000000,0.000000,NaN,NaN
50%,43.500000,3546.000000,4.203004e+09,3.000000,30.000000,30.000000,NaN,NaN
75%,64.750000,14116.750000,4.203014e+09,3.000000,45.000000,30.000000,NaN,NaN
max,86.000000,15412.000000,4.203015e+09,8.000000,60.000000,240.000000,NaN,NaN

### 3. Data Room

In [9]:
# Read data teacher.csv
room  = pd.read_csv('./data/Data tự tạo - classroom.csv')
room

,Tên Phòng,Loại Phòng,Lầu,Tòa,Dụng cụ,Capacity,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,A1.01A,LT,1,A,Lý thuyết,40,NaN,NaN,NaN,NaN
1,A1.01B,LT,1,A,Lý thuyết,80,NaN,NaN,NaN,NaN
2,A1.02,LT,1,A,Lý thuyết,80,NaN,NaN,NaN,NaN
3,A1.03,LT,1,A,Lý thuyết,80,NaN,NaN,NaN,NaN
4,A1.04,LT,1,A,Lý thuyết,50,NaN,NaN,NaN,- Note: Phòng lý thuyết thì mặc định dụng cụ l...
...,...,...,...,...,...,...,...,...,...,...
345,X14.06,TH,14,X,Thực hành,NaN,NaN,NaN,NaN,NaN
346,X14.07,TH,14,X,Thực hành,NaN,NaN,NaN,NaN,NaN
347,X14.08,TH,14,X,Thực hành,NaN,NaN,NaN,NaN,NaN
348,X14.09,TH,14,X,Thực hành,NaN,NaN,NaN,NaN,NaN
349,X14.10,TH,14,X,Thực hành,NaN,NaN,NaN,NaN,NaN

In [10]:
room.info

<bound method DataFrame.info of     Tên Phòng Loại Phòng   Lầu Tòa    Dụng cụ Capacity Unnamed: 6 Unnamed: 7  \
0      A1.01A          LT    1   A  Lý thuyết       40        NaN        NaN
1      A1.01B          LT    1   A  Lý thuyết       80        NaN        NaN
2       A1.02          LT    1   A  Lý thuyết       80        NaN        NaN
3       A1.03          LT    1   A  Lý thuyết       80        NaN        NaN
4       A1.04          LT    1   A  Lý thuyết       50        NaN        NaN
..        ...         ...  ...  ..        ...      ...        ...        ...
345    X14.06          TH   14   X  Thực hành      NaN        NaN        NaN
346    X14.07          TH   14   X  Thực hành      NaN        NaN        NaN
347    X14.08          TH   14   X  Thực hành      NaN        NaN        NaN
348    X14.09          TH   14   X  Thực hành      NaN        NaN        NaN
349    X14.10          TH   14   X  Thực hành      NaN        NaN        NaN

     Unnamed: 8                                         Unnamed: 9
0           NaN                                                NaN
1           NaN                                                NaN
2           NaN                                                NaN
3           NaN                                                NaN
4           NaN  - Note: Phòng lý thuyết thì mặc định dụng cụ l...
..          ...                                                ...
345         NaN                                                NaN
346         NaN                                                NaN
347         NaN                                                NaN
348         NaN                                                NaN
349         NaN                                                NaN

[350 rows x 10 columns]>

In [11]:
room.describe()

              Lầu  Unnamed: 8
count  350.000000         0.0
mean     6.677143         NaN
std      3.792814         NaN
min      1.000000         NaN
25%      4.000000         NaN
50%      6.000000         NaN
75%     10.000000         NaN
max     14.000000         NaN

### 4. Data Timetable

In [12]:
# Read data teacher.csv
timetable = pd.read_csv('./data/Data tự tạo - timetable.csv')
timetable

,Thứ 2,Thứ 3,Thứ 4,Thứ 5,Thứ 6,Thứ 7,Chủ nhật
0,Tiết 1-3,Tiết 1-3,Tiết 1-3,Tiết 1-3,Tiết 1-3,Tiết 1-3,Tiết 1-3
1,Tiết 4-6,Tiết 4-6,Tiết 4-6,Tiết 4-6,Tiết 4-6,Tiết 4-6,Tiết 4-6
2,Tiết 6-9,Tiết 6-9,Tiết 6-9,Tiết 6-9,Tiết 6-9,Tiết 6-9,Tiết 6-9
3,Tiết 10-12,Tiết 10-12,Tiết 10-12,Tiết 10-12,Tiết 10-12,Tiết 10-12,Tiết 10-12
4,Tiết 13-15,Tiết 13-15,Tiết 13-15,Tiết 13-15,Tiết 13-15,Tiết 13-15,Tiết 13-15

### => Merge Data Teacher, Data Subject

In [13]:
# Ensure 'Active' column is treated as a string
teacher['Active'] = teacher['Active'].astype(str)

# Split the 'Active' column into separate values and explode
teacher['Active'] = teacher['Active'].str.split(',')
teacher = teacher.explode('Active')

# Remove any leading/trailing whitespace in the 'Active' column
teacher['Active'] = teacher['Active'].str.strip()

# Handle cases where 'Active' is '0' (assign all courses)
teachers_with_all_courses = teacher[teacher['Active'] == '0']
teachers_with_specific_courses = teacher[teacher['Active'] != '0']

# Expand rows for teachers with 'Active' == '0' to include all courses
if not teachers_with_all_courses.empty:
    all_courses = subjects['Mã môn học'].tolist()
    expanded_rows = pd.DataFrame(
        [
            {'Tên ': row['Tên '], 'Active': course}
            for _, row in teachers_with_all_courses.iterrows()
            for course in all_courses
        ]
    )
    teachers_with_specific_courses = pd.concat([teachers_with_specific_courses, expanded_rows])

# Drop rows where 'Active' is empty or NaN
teachers_with_specific_courses = teachers_with_specific_courses.dropna(subset=['Active'])

# Remove empty strings in 'Active' column
teachers_with_specific_courses = teachers_with_specific_courses[teachers_with_specific_courses['Active'] != '']

# Ensure 'Active' is of the same type as 'Mã môn học'
teachers_with_specific_courses['Active'] = teachers_with_specific_courses['Active'].astype(subjects['Mã môn học'].dtype)

# Merge data with course codes
df_merged = pd.merge(teachers_with_specific_courses, subjects, left_on='Active', right_on='Mã môn học', how='inner')

# Display the merged DataFrame
df = df_merged[["Tên ", "Title", "Tên môn học", "Mã học phần"]]

print(df)

# Optionally, save the DataFrame to a file for further use
df_merged.to_csv('./data/merged_teacher_course_dataset.csv', index=False)
df.to_csv('./data/teacher_subject.csv', index=False)

                Tên     Title                                   Tên môn học  \
0    Nguyễn Chí Kiên  Tiến sĩ                          Nhập môn dữ liệu lớn
1    Nguyễn Chí Kiên  Tiến sĩ                          Quá trình ngẫu nhiên
2    Nguyễn Chí Kiên  Tiến sĩ                     Nhập môn Kĩ thuật Dữ liệu
3    Nguyễn Chí Kiên  Tiến sĩ                                       Máy học
4    Nguyễn Chí Kiên  Tiến sĩ  Kiến trúc hướng dịch vụ và Điện toán đám mây
..               ...      ...                                           ...
455  Đặng Quang Vinh      NaN                          Phân tích kinh doanh
456  Đặng Quang Vinh      NaN            Giải tích ngẫu nhiên cho tài chính
457  Đặng Quang Vinh      NaN                         Thực tập doanh nghiệp
458  Đặng Quang Vinh      NaN                          Khóa luận tốt nghiệp
459  Đặng Quang Vinh      NaN                           Chứng chỉ Tiếng Anh

     Mã học phần
0     4203002329
1     4203014106
2     4203015410
3     4203003711
4     4203015412
..           ...
455   4203014120
456   4203014121
457   4203003098
458   4203014170
459   4203015216

[460 rows x 4 columns]

In [14]:
df.info

<bound method DataFrame.info of                 Tên     Title                                   Tên môn học  \
0    Nguyễn Chí Kiên  Tiến sĩ                          Nhập môn dữ liệu lớn
1    Nguyễn Chí Kiên  Tiến sĩ                          Quá trình ngẫu nhiên
2    Nguyễn Chí Kiên  Tiến sĩ                     Nhập môn Kĩ thuật Dữ liệu
3    Nguyễn Chí Kiên  Tiến sĩ                                       Máy học
4    Nguyễn Chí Kiên  Tiến sĩ  Kiến trúc hướng dịch vụ và Điện toán đám mây
..               ...      ...                                           ...
455  Đặng Quang Vinh      NaN                          Phân tích kinh doanh
456  Đặng Quang Vinh      NaN            Giải tích ngẫu nhiên cho tài chính
457  Đặng Quang Vinh      NaN                         Thực tập doanh nghiệp
458  Đặng Quang Vinh      NaN                          Khóa luận tốt nghiệp
459  Đặng Quang Vinh      NaN                           Chứng chỉ Tiếng Anh

     Mã học phần
0     4203002329
1     4203014106
2     4203015410
3     4203003711
4     4203015412
..           ...
455   4203014120
456   4203014121
457   4203003098
458   4203014170
459   4203015216

[460 rows x 4 columns]>

# NEW VERSION GA

#### POPULATION

In [53]:
import pandas as pd
import random
import logging
import os

# Tạo logger riêng cho schedule generation
logger_schedule = logging.getLogger("ScheduleGeneration")
logger_schedule.setLevel(logging.INFO)

# Tạo handler riêng với mã hóa UTF-8
handler_schedule = logging.FileHandler('./logs/schedule_generation.log', mode='a', encoding='utf-8')
formatter = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')
handler_schedule.setFormatter(formatter)

# Clear previous handlers to tránh log lặp
if logger_schedule.hasHandlers():
    logger_schedule.handlers.clear()

logger_schedule.addHandler(handler_schedule)

# Test ghi log
logger_schedule.info("Đã bắt đầu quá trình tạo thời khóa biểu.")

# Clear previous handlers to prevent duplicate logs
if logger_schedule.hasHandlers():
    logger_schedule.handlers.clear()

logger_schedule.addHandler(handler_schedule)

# Log thông báo
logger_schedule.info("Đã bắt đầu quá trình tạo thời khóa biểu.")

# Hàm khởi tạo thời khóa biểu
def GenSchedule(days, time_slots):
    try:
        # Bước 1: Đọc file subjects và lấy 10 môn học đầu tiên
        subjects_df = pd.read_csv('./data/Data tự tạo - subjects.csv')
        top_10_subjects = subjects_df.head(10)
        logger_schedule.info(f"Đọc 10 môn học đầu tiên thành công.")

        # Bước 2: Đọc file teacher_subject và lọc các giáo viên dạy môn đó
        teacher_subject_df = pd.read_csv('./data/teacher_subject.csv')
        filtered_teachers = teacher_subject_df[teacher_subject_df['Mã học phần'].isin(top_10_subjects['Mã học phần'])]
        logger_schedule.info(f"Lọc danh sách giáo viên dạy 10 môn học thành công.")

        # Bước 3: Tạo danh sách các cặp (giáo viên, môn học, tên môn học)
        subject_name_map = dict(zip(subjects_df['Mã học phần'], subjects_df['Tên môn học']))
        pairs = []
        for _, row in filtered_teachers.iterrows():
            teacher = row.get('Tên ', "Không xác định").strip()
            subject = row['Mã học phần']
            subject_name = subject_name_map.get(subject, "Môn học không xác định")
            pairs.append((teacher, subject, subject_name))
        logger_schedule.info(f"Tạo danh sách các cặp (giáo viên, môn học) thành công.")

        # Bước 4: Tạo thời khóa biểu trên tuần
        timetable = {day: {slot: None for slot in time_slots} for day in days}

        # Bước 5: Phân bố ngẫu nhiên các cặp vào timetable
        total_slots = len(days) * len(time_slots)
        pairs = pairs[:total_slots]  # Giới hạn số lượng cặp để phù hợp với số slot

        for pair in pairs:
            assigned = False
            for _ in range(100):  # Thử gán 100 lần trước khi bỏ qua cặp
                day = random.choice(days)
                slot = random.choice(time_slots)
                if timetable[day][slot] is None:
                    timetable[day][slot] = pair
                    assigned = True
                    break

            if not assigned:
                logger_schedule.warning(f"Không thể gán {pair} vào thời khóa biểu (không còn slot trống).")

        # Bước 6: Chuyển đổi thời khóa biểu sang dạng mảng
        timetable_array = []
        for day, slots in timetable.items():
            for slot, assigned in slots.items():
                if assigned:
                    teacher, subject, subject_name = assigned
                    timetable_array.append([day, slot, teacher, subject_name, subject])
                else:
                    timetable_array.append([day, slot, "Trống", "Trống", "Trống"])

        logger_schedule.info("Thời khóa biểu được tạo thành công.")
        return timetable_array

    except Exception as e:
        logger_schedule.error(f"Lỗi khi tạo thời khóa biểu: {e}")
        raise e  # Ném lỗi để xử lý ngoài hàm nếu cần

# Tạo quần thể thời khóa biểu
days = ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ nhật"]
time_slots = ["Tiết 1-3", "Tiết 4-6", "Tiết 6-9", "Tiết 10-12", "Tiết 13-15"]

logger_schedule.info(f"Bắt đầu tạo quần thể với kích thước {1000}.")
POPULATION_SIZE = 1000
POPULATION = [GenSchedule(days, time_slots) for _ in range(POPULATION_SIZE)]

# Chuyển đổi quần thể thành DataFrame
flattened_population = []
for idx, schedule in enumerate(POPULATION):
    for entry in schedule:
        day, slot, teacher, subject_name, subject = entry
        flattened_population.append([idx + 1, day, slot, teacher, subject_name, subject])

# Tạo DataFrame từ quần thể
population_df = pd.DataFrame(flattened_population, columns=["Lịch ID", "Ngày", "Tiết", "Giáo viên", "Tên môn học", "Mã môn học"])

# Lưu vào file CSV
output_path = './data-GA/population.csv'
os.makedirs('./data-GA', exist_ok=True)  # Đảm bảo thư mục tồn tại
population_df.to_csv(output_path, index=False)
logger_schedule.info(f"Quần thể đã được lưu vào file: {output_path}")

### FITNESS FUNCTION

In [ ]:
import pandas as pd
import os
import logging

# Ensure logs directory exists
os.makedirs('./logs', exist_ok=True)

# Configure logging for fitness evaluation
logger_fitness = logging.getLogger("FitnessEvaluation")
logger_fitness.setLevel(logging.INFO)

# Clear previous handlers to avoid duplicate logs
if logger_fitness.hasHandlers():
    logger_fitness.handlers.clear()

# Create handler with UTF-8 encoding for logging to a file
handler_fitness = logging.FileHandler('./logs/fitness_evaluation.log', mode='a', encoding='utf-8')
formatter = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')
handler_fitness.setFormatter(formatter)
logger_fitness.addHandler(handler_fitness)

# Log initialization
logger_fitness.info("Bắt đầu quá trình đánh giá fitness.")

# Function to standardize availability columns
def standardize_availability_columns(folder_path):
    for file in os.listdir(folder_path):
        if file.endswith(".csv"):
            try:
                file_path = os.path.join(folder_path, file)
                df = pd.read_csv(file_path)

                # Standardize column names
                df.columns = df.columns.str.strip()  # Remove leading/trailing spaces
                df.columns = df.columns.str.replace("Chủ nhật", "Chủ nhật")  # Standardize names

                # Ensure all required columns are present
                required_columns = ["Giáo viên", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ nhật"]
                missing_columns = [col for col in required_columns if col not in df.columns]
                for col in missing_columns:
                    df[col] = 0  # Add missing columns with default value 0

                # Reorder columns and save back to file
                df = df[required_columns]
                df.to_csv(file_path, index=False)
                logger_fitness.info(f"Đã chuẩn hóa file: {file}")
            except Exception as e:
                logger_fitness.error(f"Lỗi khi chuẩn hóa file {file}: {e}")

# Function to load availability data
def load_availability(folder_path):
    availability_data = {}
    for file in os.listdir(folder_path):
        if file.endswith(".csv"):
            try:
                teacher_name = file.replace("_availability.csv", "").replace("_", " ")
                file_path = os.path.join(folder_path, file)
                availability_data[teacher_name] = pd.read_csv(file_path)
                logger_fitness.info(f"Đã tải dữ liệu availability cho giáo viên: {teacher_name}")
            except Exception as e:
                logger_fitness.error(f"Lỗi khi tải dữ liệu availability từ file {file}: {e}")
    return availability_data

# Function to evaluate fitness for a single schedule
def evaluate_fitness(schedule, availability_data):
    fitness = 0
    for entry in schedule:
        day, slot, teacher, subject_name, subject = entry
        try:
            if teacher in availability_data:
                teacher_availability = availability_data[teacher]
                day_column = day

                if day_column not in teacher_availability.columns[1:]:
                    logger_fitness.warning(f"Cột {day_column} không tồn tại trong dữ liệu của giáo viên {teacher}")
                    continue

                slot_map = {"Tiết 1-3": 0, "Tiết 4-6": 1, "Tiết 6-9": 2, "Tiết 10-12": 3, "Tiết 13-15": 4}
                row_index = slot_map.get(slot, -1)

                if row_index == -1 or row_index >= len(teacher_availability):
                    logger_fitness.warning(f"Index {row_index} vượt quá số hàng trong dữ liệu của giáo viên {teacher}")
                    continue

                available = teacher_availability.iloc[row_index][day_column]
                if available == 1:
                    pass  # Increase fitness if teacher is available
                else:
                    fitness -= 1  # Decrease fitness if teacher is unavailable
            else:
                logger_fitness.warning(f"Không tìm thấy dữ liệu availability cho giáo viên {teacher}")
        except Exception as e:
            logger_fitness.error(f"Lỗi khi xử lý giáo viên {teacher}, ngày {day}, tiết {slot}: {e}")
    return fitness

# Function to evaluate fitness for the entire population
def evaluate_population(population, availability_folder):
    availability_data = load_availability(availability_folder)
    fitness_scores = []
    for idx, schedule in enumerate(population):
        try:
            fitness = evaluate_fitness(schedule, availability_data)
            fitness_scores.append({"Lịch ID": idx + 1, "Fitness": fitness})
            logger_fitness.info(f"Đã tính xong fitness cho Lịch ID: {idx + 1}")
        except Exception as e:
            logger_fitness.error(f"Lỗi khi tính fitness cho Lịch ID {idx + 1}: {e}")
    return pd.DataFrame(fitness_scores)

# Standardize availability files
availability_folder = "./availability"
standardize_availability_columns(availability_folder)

# Evaluate population fitness
fitness_scores = evaluate_population(POPULATION, availability_folder)

# Save fitness scores to a CSV file
output_file = "./data-GA/fitness_scores.csv"
try:
    os.makedirs('./data-GA', exist_ok=True)  # Ensure directory exists
    fitness_scores.to_csv(output_file, index=False)
    logger_fitness.info(f"Đã lưu kết quả fitness vào file: {output_file}")
except Exception as e:
    logger_fitness.error(f"Lỗi khi lưu kết quả fitness vào file: {e}")

NameError: name 'POPULATION' is not defined

### CROSSOVER

In [ ]:
import pandas as pd
import random

# Load data
schedule_data = pd.read_csv('./data-GA/population.csv')  # Schedule data
fitness_scores = pd.read_csv('./data-GA/fitness_scores.csv')  # Fitness scores

# Helper function to load schedules by ID
def get_schedule_by_id(schedule_id, schedule_df, days, time_slots):
    schedule = {day: {slot: None for slot in time_slots} for day in days}
    rows = schedule_df[schedule_df["Lịch ID"] == schedule_id]
    for _, row in rows.iterrows():
        day, slot, teacher, subject_name, subject = row["Ngày"], row["Tiết"], row["Giáo viên"], row["Tên môn học"], row["Mã môn học"]
        schedule[day][slot] = (teacher, subject_name, subject)
    return schedule

# Selection: Roulette Wheel Selection
def select_parents(population, fitness_scores):
    total_fitness = sum(fitness_scores)
    probabilities = [1 - (score / total_fitness) for score in fitness_scores]
    selected_indices = random.choices(range(len(population)), weights=probabilities, k=2)
    return [population[i] for i in selected_indices]

# Crossover
def crossover(parent1, parent2, days, time_slots):
    crossover_point = random.randint(1, len(days) * len(time_slots) - 1)

    # Flatten parents
    parent1_flat = [entry for day in days for entry in parent1[day].values()]
    parent2_flat = [entry for day in days for entry in parent2[day].values()]

    # Perform crossover
    child1_flat = parent1_flat[:crossover_point] + parent2_flat[crossover_point:]
    child2_flat = parent2_flat[:crossover_point] + parent1_flat[crossover_point:]

    # Convert back to schedule format
    child1 = {day: {slot: child1_flat.pop(0) for slot in time_slots} for day in days}
    child2 = {day: {slot: child2_flat.pop(0) for slot in time_slots} for day in days}

    return child1, child2

# Mutation
def mutate(schedule, days, time_slots, mutation_rate=0.01):
    for day in days:
        for slot in time_slots:
            if random.random() < mutation_rate:
                teacher = random.choice(["Trống", "Nguyễn Văn A", "Trần Văn B"])  # Example teachers
                subject_name = random.choice(["Toán", "Lý", "Hóa"])  # Example subjects
                subject = "ID" + str(random.randint(1, 100))  # Example subject ID
                schedule[day][slot] = (teacher, subject_name, subject)
    return schedule

# Generate new population
def generate_new_population(population, fitness_scores, days, time_slots, crossover_rate=0.8, mutation_rate=0.01):
    new_population = []
    while len(new_population) < len(population):
        # Select parents
        parents = select_parents(population, fitness_scores)
        if random.random() < crossover_rate:
            # Perform crossover
            child1, child2 = crossover(parents[0], parents[1], days, time_slots)
        else:
            # Copy parents if no crossover
            child1, child2 = parents[0], parents[1]

        # Apply mutation
        # child1 = mutate(child1, days, time_slots, mutation_rate)
        # child2 = mutate(child2, days, time_slots, mutation_rate)
        
        

        # Add to new population
        new_population.append(child1)
        if len(new_population) < len(population):
            new_population.append(child2)

    return new_population

# Evaluate new fitness scores
def evaluate_population(population, evaluate_fitness_func):
    return [evaluate_fitness_func(individual) for individual in population]

# Evolution process
def evolve_population(schedule_data, fitness_scores, days, time_slots, generations=50):
    # Load initial population
    population = [get_schedule_by_id(i, schedule_data, days, time_slots) for i in range(1, len(fitness_scores) + 1)]
    fitness_list = fitness_scores["Fitness"].tolist()

    for generation in range(generations):
        print(f"Generation {generation + 1}")
        population = generate_new_population(population, fitness_list, days, time_slots)
        fitness_list = evaluate_population(population, evaluate_fitness_func)
        print(f"Best fitness in generation {generation + 1}: {max(fitness_list)}")

    # Return best schedule
    best_index = fitness_list.index(max(fitness_list))
    return population[best_index], max(fitness_list)

# Define days and time slots
days = ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ nhật"]
time_slots = ["Tiết 1-3", "Tiết 4-6", "Tiết 6-9", "Tiết 10-12", "Tiết 13-15"]

# Define a dummy fitness evaluation function for demonstration

def evaluate_fitness_func(schedule):
    # Example: Fitness is the number of non-empty slots
    fitness = 0
    for day, slots in schedule.items():
        for entry in slots.values():
            if entry != None:
                fitness += 1
    return fitness

# Run evolution process
best_schedule, best_fitness = evolve_population(schedule_data, fitness_scores, days, time_slots)
print("Best Fitness:", best_fitness)

Generation 1
Best fitness in generation 1: 35
Generation 2
Best fitness in generation 2: 35
Generation 3
Best fitness in generation 3: 35
Generation 4
Best fitness in generation 4: 35
Generation 5
Best fitness in generation 5: 35
Generation 6
Best fitness in generation 6: 35
Generation 7
Best fitness in generation 7: 35
Generation 8
Best fitness in generation 8: 35
Generation 9
Best fitness in generation 9: 35
Generation 10
Best fitness in generation 10: 35
Generation 11
Best fitness in generation 11: 35
Generation 12
Best fitness in generation 12: 35
Generation 13
Best fitness in generation 13: 35
Generation 14
Best fitness in generation 14: 35
Generation 15
Best fitness in generation 15: 35
Generation 16
Best fitness in generation 16: 35
Generation 17
Best fitness in generation 17: 35
Generation 18
Best fitness in generation 18: 35
Generation 19
Best fitness in generation 19: 35
Generation 20
Best fitness in generation 20: 35
Generation 21
Best fitness in generation 21: 35
Generation 22
Best fitness in generation 22: 35
Generation 23
Best fitness in generation 23: 35
Generation 24
Best fitness in generation 24: 35
Generation 25
Best fitness in generation 25: 35
Generation 26
Best fitness in generation 26: 35
Generation 27
Best fitness in generation 27: 35
Generation 28
Best fitness in generation 28: 35
Generation 29
Best fitness in generation 29: 35
Generation 30
Best fitness in generation 30: 35
Generation 31
Best fitness in generation 31: 35
Generation 32
Best fitness in generation 32: 35
Generation 33
Best fitness in generation 33: 35
Generation 34
Best fitness in generation 34: 35
Generation 35
Best fitness in generation 35: 35
Generation 36
Best fitness in generation 36: 35
Generation 37
Best fitness in generation 37: 35
Generation 38
Best fitness in generation 38: 35
Generation 39
Best fitness in generation 39: 35
Generation 40
Best fitness in generation 40: 35
Generation 41
Best fitness in generation 41: 35
Generation 42
Best fitness in generation 42: 35
Generation 43
Best fitness in generation 43: 35
Generation 44
Best fitness in generation 44: 35
Generation 45
Best fitness in generation 45: 35
Generation 46
Best fitness in generation 46: 35
Generation 47
Best fitness in generation 47: 35
Generation 48
Best fitness in generation 48: 35
Generation 49
Best fitness in generation 49: 35
Generation 50
Best fitness in generation 50: 35
Best Fitness: 35